In [1]:
import numpy as np
import pandas as pd
from datetime import datetime 
from datetime import timedelta
import csv 
import matplotlib.pyplot as plt
from datetime import date
from datetime import time
from sklearn.datasets import load_iris
import matplotlib.dates as mdates
from matplotlib.transforms import Transform
from matplotlib.ticker import (
    AutoLocator, AutoMinorLocator)
import seaborn as sns
from matplotlib import pyplot

In [2]:
def convertTimeStamp(string):
    """Converts a string to a datetime object.
    """
    time = datetime.strptime(string,'%m/%d/%Y %I:%M:%S %p') #Accepts time string, converts it to datetime object.
    return time

In [3]:
def secToDays(seconds):
    """Converts seconds to days"""
    seconds_in_day = 60 * 60 * 24
    seconds_in_hour = 60 * 60
    seconds_in_minute = 60

    days = seconds // seconds_in_day
    hours = (seconds - (days * seconds_in_day)) // seconds_in_hour
    minutes = (seconds - (days * seconds_in_day) - (hours * seconds_in_hour)) // seconds_in_minute

    return int(days)

In [4]:
def convert_days(filepath):   
    """Calculates elapsed days between created and service dates for all requests in dataset"""
    dataframe = pd.read_csv(filepath)
    dataframe = dataframe.dropna()
    
    created_df = dataframe['CreatedDate'].apply(convertTimeStamp, 0) #apply convertTimeStamp to CreatedDate
    Service_df = dataframe['ServiceDate'].apply(convertTimeStamp, 0) #apply convertTimeStamp to ServiceDate
    elapsed_df = Service_df - created_df #calculate the difference in the values in CreatedDate and ServiceDate
    dataframe.insert(3, "ElapsedTime", elapsed_df) #insert column ElapsedTime with dataframe elapsed_df into dataframe dataframe
    
    elapsed_seconds = dataframe['ElapsedTime'].dt.total_seconds()
    elapsed_days= elapsed_seconds.apply(secToDays) #or display time 1 in a new column in for loop
    dataframe.insert(4, 'Elapsed Days', elapsed_days)
    
    return dataframe[['CreatedDate', 'ServiceDate', 'ElapsedTime', 'Elapsed Days']]

In [5]:
convert_days(r"C:\Users\hanaa\Downloads\MyLA311_Service_Request_Data_2017.csv")

C:\Users\hanaa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,CreatedDate,ServiceDate,ElapsedTime,Elapsed Days
25,12/31/2017 09:51:00 PM,01/03/2018 04:16:00 PM,2 days 18:25:00,2
34,12/31/2017 09:18:00 PM,01/02/2018 02:23:00 PM,1 days 17:05:00,1
37,12/31/2017 09:14:00 PM,01/03/2018 08:47:00 AM,2 days 11:33:00,2
38,12/31/2017 09:11:00 PM,01/02/2018 02:11:00 PM,1 days 17:00:00,1
39,12/31/2017 09:09:00 PM,01/02/2018 02:20:00 PM,1 days 17:11:00,1
...,...,...,...,...
1131547,01/01/2017 01:55:00 AM,01/04/2017 09:53:00 AM,3 days 07:58:00,3
1131552,01/01/2017 01:16:00 AM,01/03/2017 06:54:00 PM,2 days 17:38:00,2
1131553,01/01/2017 01:09:00 AM,01/04/2017 10:33:00 AM,3 days 09:24:00,3
1131554,01/01/2017 01:01:00 AM,01/04/2017 09:22:00 AM,3 days 08:21:00,3
1131556,01/01/2017 12:45:00 AM,01/12/2017 05:09:00 PM,11 days 16:24:00,11

In [6]:
convert_days(r"C:\Users\hanaa\Downloads\MyLA311_Service_Request_Data_2018.csv")

,CreatedDate,ServiceDate,ElapsedTime,Elapsed Days
13,01/01/2018 01:31:00 AM,01/02/2018 08:41:00 AM,1 days 07:10:00,1
14,01/01/2018 01:32:00 AM,01/02/2018 10:49:00 AM,1 days 09:17:00,1
15,01/01/2018 01:34:00 AM,01/02/2018 04:58:00 PM,1 days 15:24:00,1
17,01/01/2018 01:43:00 AM,01/02/2018 04:57:00 PM,1 days 15:14:00,1
18,01/01/2018 01:50:00 AM,03/12/2018 12:00:00 AM,69 days 22:10:00,69
...,...,...,...,...
1209998,12/31/2018 08:20:00 PM,01/05/2019 12:00:00 AM,4 days 03:40:00,4
1210005,12/31/2018 08:51:00 PM,01/03/2019 02:30:00 PM,2 days 17:39:00,2
1210006,12/31/2018 08:55:00 PM,01/09/2019 08:05:00 AM,8 days 11:10:00,8
1210021,12/31/2018 09:48:00 PM,01/03/2019 12:00:00 AM,2 days 02:12:00,2
1210061,12/31/2018 10:50:00 PM,01/03/2019 12:00:00 AM,2 days 01:10:00,2

In [7]:
convert_days(r"C:\Users\hanaa\Downloads\MyLA311_Service_Request_Data_2019.csv")

C:\Users\hanaa\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,CreatedDate,ServiceDate,ElapsedTime,Elapsed Days
6,01/01/2019 12:37:00 AM,04/02/2019 02:37:00 PM,91 days 14:00:00,91
17,01/01/2019 01:19:00 AM,06/04/2019 12:00:00 AM,153 days 22:41:00,153
32,01/01/2019 02:43:00 AM,01/02/2019 04:10:00 PM,1 days 13:27:00,1
39,01/01/2019 03:56:00 AM,04/02/2019 02:27:00 PM,91 days 10:31:00,91
42,01/01/2019 06:53:00 AM,01/02/2019 09:56:00 AM,1 days 03:03:00,1
...,...,...,...,...
1308068,12/31/2019 10:12:00 PM,01/02/2020 12:00:00 AM,1 days 01:48:00,1
1308083,12/31/2019 11:11:00 PM,01/18/2020 10:13:00 AM,17 days 11:02:00,17
1308084,12/31/2019 11:13:00 PM,01/02/2020 03:20:00 PM,1 days 16:07:00,1
1308086,12/31/2019 11:19:00 PM,01/02/2020 03:17:00 PM,1 days 15:58:00,1
1308087,12/31/2019 11:25:00 PM,01/17/2020 12:00:00 AM,16 days 00:35:00,16